.app_main {
  /* border: 5px solid red; */
  height: 100vh;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.05)
    ),
    url("./assets//images/cake.jpg");

  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.app_navBar {
  position: relative;
  /* border: 2px solid red; */
  height: 80px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  height: 100px;
  align-items: center;
  padding-top: 15px;
}
.app_navBar_header {
  position: relative;
  font-size: 50px;
  animation: mymove 5s infinite;

  color: white;
  /* border: 2px solid red; */
  font-family: "Kanit", sans-serif;
}

@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.app_navBar_menu {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 10px;
  width: 120px;
  position: absolute;
  right: 0;
  right: 20px;
  background-color: rgba(245, 160, 3, 0.7);
  /* border-radius: 20px; */
  cursor: pointer;
}

.app_navBar_menu:hover {
  background-color: rgba(245, 160, 3, 0.9);
  /* border-radius: 20px; */
}
.app_navBar_menu_text {
  font-size: 25px;
  color: white;
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
}

.app_navBar_menu_icon {
  color: white;
}

.app_main_inner {
  /* border: 2px solid red; */
  width: 900px;
  height: 400px;
  margin-left: 150px;
  margin-top: 200px;
  color: white;
}

.app_main_innerText {
  /* border: 2px solid red; */
  font-family: "Kanit", sans-serif;
}

.app_main_innerText_top {
  font-size: 90px;
  display: flex;
  flex-direction: column;
  border-bottom: 8px solid rgba(245, 160, 3, 0.9);
  border-right: 4px solid rgba(245, 160, 3, 0.9);
  margin-bottom: 20px;
}
.app_main_innerText_top1 {
  margin-bottom: -40px;
}

.app_main_innerText_top2 {
  margin-bottom: 0px;
}

.app_main_innerText_low {
  font-size: 40px;
  margin-bottom: 30px;
}

.app_main_inner_button {
  /* border: 2px solid red; */
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  margin-top: 20px;
  background-color: rgb(187, 35, 35);
}

.app_next {
  border: 5px solid red;
  height: 100vh;
}
