.app_main {
  /* border: 5px solid red; */
  /* height: 100vh; */
  height: 1000px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.05)
    ),
    url("./assets/images/cake.jpg");

  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.app_navBar {
  position: relative;
  /* border: 2px solid red; */
  height: 80px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  height: 100px;
  align-items: center;
  padding-top: 15px;
}
.app_navBar_header {
  position: relative;
  font-size: 50px;
  animation: mymove 5s infinite;

  color: white;
  /* border: 2px solid red; */
  font-family: "Kanit", sans-serif;
}

@keyframes mymove {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.app_navBar_menu {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 10px;
  width: 120px;
  position: absolute;
  right: 0;
  right: 20px;
  background-color: rgba(245, 160, 3, 0.7);

  /* border-radius: 20px; */
  cursor: pointer;
}

.app_navBar_menu:hover {
  background-color: rgba(245, 160, 3, 0.9);
  /* border-radius: 20px; */
}
.app_navBar_menu_text {
  font-size: 25px;
  color: white;
  margin-right: 10px;
  font-family: "Kanit", sans-serif;
}

.app_navBar_menu_icon {
  color: white;
}

.app_main_inner {
  /* border: 2px solid red; */
  width: 800px;
  height: 400px;
  margin-left: 150px;
  margin-top: 200px;
  color: white;
}

.app_main_innerText {
  /* border: 2px solid red; */
  font-family: "Kanit", sans-serif;
}

.app_main_innerText_top {
  font-size: 90px;
  display: flex;
  flex-direction: column;
  border-bottom: 8px solid rgba(245, 160, 3, 0.9);
  border-right: 4px solid rgba(245, 160, 3, 0.9);
  margin-bottom: 20px;
}
.app_main_innerText_top1 {
  margin-bottom: -40px;
}

.app_main_innerText_top2 {
  margin-bottom: 0px;
}

.app_main_innerText_low {
  font-size: 40px;
  margin-bottom: 30px;
  transition-duration: 2s;
}

.app_main_inner_button {
  /* border: 2px solid red; */
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  margin-top: 20px;
  background-color: rgb(187, 35, 35);
}

.app_second {
  background-color: black;
  /* height: 100vh; */
  color: white;
  padding-bottom: 80px;
}

.app_second_header {
  /* border: 2px solid red; */
  font-family: "Kanit", sans-serif;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-top: 100px;
}

@media only screen and (max-width: 990px) {
  .app_navBar_menu {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    padding: 10px;
    width: 90px;
  }

  .app_navBar_menu:hover {
    background-color: rgba(245, 160, 3, 0.9);
    /* border-radius: 20px; */
  }
  .app_navBar_menu_text {
    font-size: 20px;
    color: white;
    margin-right: 10px;
    font-family: "Kanit", sans-serif;
  }

  .app_main_inner {
    /* border: 2px solid red; */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    transition: 1s;
  }

  .app_main_innerText_top {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    border-bottom: 8px solid rgba(245, 160, 3, 0.9);
    border-right: 4px solid rgba(245, 160, 3, 0.9);
    margin-bottom: 50px;
  }
  .app_main_innerText_top1 {
    margin-bottom: -20px;
  }

  .app_main_innerText_top2 {
    margin-bottom: 0px;
  }

  .app_main_innerText_low {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 80px;
  }

  .app_main_inner_button {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    transition: all 2s ease-in-out;
  }

  .app_second {
    background-color: black;
    /* height: 100vh; */
    color: white;
    padding-bottom: 80px;
  }

  .app_second_header {
    /* border: 2px solid red; */
    font-family: "Kanit", sans-serif;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top: 30px;
  }
}

/* item component css////////////////////////////////////////////////////////////////////////////////// */

.item_container {
  border-bottom: 8px solid rgba(245, 160, 3, 0.9);
  border-right: 4px solid rgba(245, 160, 3, 0.9);
  width: 400px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image_container,
img {
  width: 350px;
  height: 350px;
}

.details_container {
  /* border: 2px solid red; */
  width: 350px;
}

.details_container_name {
  /* border: 2px solid red; */
  padding: 5px;
  display: flex;
  justify-content: center;
  font-size: 35px;

  font-family: "Kanit", sans-serif;
  margin-top: 20px;
}

.details_container_desc {
  /* border: 2px solid red; */
  padding: 5px;
  display: flex;
  font-size: 17px;
  justify-content: center;
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
}
.details_container_price {
  /* border: 2px solid red; */
  padding: 5px;
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
}

.button_container {
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  background-color: rgb(187, 35, 35);
}

.app_second_itemBox {
  /* border: 2px solid red; */
  width: 1600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: space-around;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
.app_third {
  margin-top: 150px;
}

.app_third_photoBox {
  height: 700px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2)
    ),
    url("./assets/images/cotd.jpg");

  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_third_detailsBox {
  /* border: 2px solid red; */
  height: 300px;
  width: 800px;
}
.detailsBox_header {
  /* border: 2px solid red; */
  font-size: 80px;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
}
.detailsBox_content {
  /* border: 2px solid red; */
  margin-top: 20px;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
}
.detailsBox_buttonContainer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.detailsBox_button {
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  margin-top: 20px;
  color: black;
  background-color: rgb(228, 188, 13);
}

.app_fourth {
  margin-top: 50px;
}

/* //////////////////////////////////////////////// */
@media only screen and (max-width: 1600px) {
  .item_container {
    width: 300px;
    height: 640px;
    transition: 1s;
  }

  .app_second_itemBox {
    /* border: 2px solid red; */
    width: 98vw;
    display: flex;
    transition: 1s;
  }
  .image_container,
  img {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 1050px) {
  .item_container {
    width: 400px;
    height: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .app_second_itemBox {
    width: 96vw;
    display: flex;
  }
  .image_container,
  img {
    width: 350px;
    height: 350px;
  }

  .app_second_itemBox {
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .app_navBar_header {
    font-size: 40px;
    transition: 1s;
  }
  .app_second_header {
    font-size: 45px;
    transition: 1s;
  }
}

@media only screen and (max-width: 600px) {
  .app_main {
    height: 750px;
  }
  .app_navBar_menu {
    /* border: 2px solid red; */

    height: 18px;
    padding: 10px;
    width: 70px;
  }

  .app_navBar_menu_text {
    font-size: 16px;
  }

  .app_main_inner {
    /* border: 2px solid red; */
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    transition: 1s;
  }

  .app_main_innerText_top {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    border-bottom: 8px solid rgba(245, 160, 3, 0.9);
    border-right: 4px solid rgba(245, 160, 3, 0.9);
    margin-bottom: 50px;
  }
  .app_main_innerText_top1 {
    margin-bottom: -10px;
  }

  .app_main_innerText_low {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 80px;
  }

  .app_main_inner_button {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    transition: all 2s ease-in-out;
  }

  .app_second {
    background-color: black;
    /* height: 100vh; */
    color: white;
    padding-bottom: 40px;
  }

  .app_second_header {
    /* border: 2px solid red; */

    font-size: 30px;
    margin-bottom: -30px;
  }

  /* /////////////////// */

  .item_container {
    width: 250px;
    height: 450px;
    padding-right: 5px;
  }
  .image_container,
  img {
    width: 200px;
    height: 200px;
  }

  .details_container {
    /* border: 2px solid red; */
    width: 250px;
  }

  .details_container_name {
    /* border: 2px solid red; */
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 28px;

    font-family: "Kanit", sans-serif;
    margin-top: 10px;
  }

  .details_container_desc {
    margin-top: 0px;
  }
  .details_container_price {
    margin-top: 0px;
  }

  .button_container {
    width: 120px;
    height: 40px;

    font-size: 17px;
    margin-top: 0px;
  }

  .app_second_itemBox {
    margin-top: 50px;
  }
}
