.app_main {
  /* border: 5px solid red; */
  height: 100vh;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.05)
    ),
    url("./assets//images/cake.jpg");

  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.app_next {
  border: 5px solid red;
  height: 100vh;
}
